<div class="padding-10">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Students Title
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="example-container mat-elevation-z8">
                    <input mat-input (change)="filterStudents($event)">
                    <mat-table matSort #table [dataSource]="dataSource">
                  
                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="firstName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="lastName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
                      </ng-container>   
                      
                      <ng-container matColumnDef="payments">
                        <mat-header-cell *matHeaderCellDef> Payments </mat-header-cell>
                        <mat-cell *matCellDef="let element"> 
                            <button (click)="getPayments(element)" mat-raised-button color="primary">Payments</button>
                        </mat-cell>
                      </ng-container>            
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    [showFirstLastButtons]="true">
     </mat-paginator>
                  </div>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
</div>